{{ template "header.tmpl" }}
<title>Подробнее</title>
</head>
<body>
    <div class="p-3 bg-black text-white header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/items" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="https://raw.githubusercontent.com/DanilaNik/IU5_RIP2023/lab1/resources/fulfillment-logo.png" alt="Logo" class="logo">
                </a>
                
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/items" class="nav-link px-2 text-white">Комплектующие </a></li>
                    <li><a href="/requests" class="nav-link px-2 text-white">Заявки</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="item-card-body">
        {{ if eq .Status "ok" }}
            <div class="card-container">
                {{ range .Items }}
                    <img src="{{ .ImageURL }}" style="width: 150px; height: 150px; object-fit: cover;" alt="Image"/>
                    <h3>{{ .Name }}</h3>
                    <h6>Размеры: {{ .Height }}x{{ .Width }}x{{ .Depth }} </h6>
                    <h6>Штрих-код: {{ .Barcode }} </h6>
                    <div class="buttons">
                        <button class="primary">
                            Добавить в заявку 
                        </button>
                    </div>
                {{ end }}
            </div>
        {{ else }} 
        <h2 style="text-align: center;">Ничего не найдено</h2>
        {{ end }}
    </div>
{{ template "footer.tmpl" }}