.item-card-body {
    font-family: "Work Sans", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: white;
    border-radius: 5px;
    color: #18181B;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
}

button.primary {
    background-color: #ffae00;
    border-radius: 3px;
    color: #18181B;
    font-family: "Work Sans", serif;
    font-weight: 500;
    padding: 10px 25px;
}


