body {
    background-color: #F5F5DC;
}

.header {
    background-color: #18181B;
}

.logo {
    background: #18181B;
    width: 94px;
    height: 40px;
}

.form-control:focus {
    border-color: #6c757d;
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
}

.shipment{
    background: #18181B;
}

.dropdown-wrapper {
    margin-left: 10px; 
}

img { pointer-events: none; }